In [ ]:
#pyhton 에서는 json라이브러리를 기본으로 제공한다
import json
import urllib.request as req

:

In [3]:
url = "http://www.krei.re.kr:18181/chart/main_chart/index/kind/W/sdate/2020-01-01/edate/2020-03-31"

In [7]:
#url 오픈하고 json 형식으로 불러오기

res = req.urlopen(url)
json_obj = json.load(res)
json_obj
res

In [12]:
#데이터 타입 확인하기

json_obj[0]
json_obj[1:3]
print(type(json_obj))
print(type(json_obj[0]))

<class 'list'>
<class 'dict'>

In [13]:
# 원하는 컬럼만 추출하기

for i in json_obj:
  print(i['date'],i['settlement'])

20200102 205.85
20200103 203.74
20200106 202.09
20200107 202.18
20200108 203.1
20200109 206.59
20200110 207.41
20200113 206.59
20200114 208.88
20200115 210.63
20200116 207.69
20200117 209.62
20200121 213.66
20200122 212.28
20200123 213.29
20200124 210.72
20200127 210.26
20200128 209.34
20200129 206.59
20200130 205.95
20200131 203.46
20200203 204.11
20200204 204.75
20200205 206.5
20200206 204.38
20200207 205.3
20200210 202.82
20200211 199.15
20200212 201.17
20200213 199.97
20200214 199.42
20200218 208.24
20200219 207.69
20200220 205.76
20200221 202.45
20200224 196.48
20200225 197.31
20200226 196.85
20200227 193.82
20200228 192.9
20200302 193.36
20200303 193.73
20200304 190.42
20200305 190.6
20200306 189.5
20200309 190.6
20200310 191.89
20200311 188.4
20200312 185.74
20200313 185.92
20200316 182.98
20200317 183.44
20200318 186.75
20200319 196.58
20200320 198.14
20200323 206.68
20200324 206.31
20200325 213.11
20200326 209.07
20200327 209.89
20200330 209.25
20200331 208.98

In [16]:
res = req.urlopen(url)
j = res.read()
type(j)  #byte
j

bytes

In [20]:
#DataFrame형태로로 읽어들이기

import pandas as pd

df = pd.read_json(j)
df

,id,date,symbol,open,close,high,low,settlement,volume
0,42604,20200102,NaN,205.58,205.85,208.52,205.12,205.85,81215
1,42608,20200103,NaN,206.04,204.66,206.50,202.73,203.74,88965
2,42612,20200106,NaN,203.01,202.27,204.02,200.89,202.09,79947
3,42616,20200107,NaN,201.90,202.27,202.45,200.43,202.18,68670
4,42621,20200108,NaN,201.90,202.64,204.20,200.34,203.10,88089
...,...,...,...,...,...,...,...,...,...
57,42835,20200325,NaN,205.76,213.02,214.30,204.57,213.11,219173
58,42839,20200326,NaN,212.93,209.07,214.21,207.41,209.07,163529
59,42844,20200327,NaN,209.25,210.45,215.68,207.05,209.89,182414
60,42847,20200330,NaN,210.26,209.53,213.39,206.77,209.25,121130
61,42852,20200331,NaN,209.34,208.70,211.36,207.32,208.98,131557

In [24]:
# 데이터 정보 확인하기

print(df.info())
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          62 non-null     int64
 1   date        62 non-null     int64
 2   symbol      0 non-null      float64
 3   open        62 non-null     float64
 4   close       62 non-null     float64
 5   high        62 non-null     float64
 6   low         62 non-null     float64
 7   settlement  62 non-null     float64
 8   volume      62 non-null     int64
dtypes: float64(6), int64(3)
memory usage: 4.5 KB
None

id              int64
date            int64
symbol        float64
open          float64
close         float64
high          float64
low           float64
settlement    float64
volume          int64
dtype: object